<div>
    <p>{{result.name}}</p>
    <p>{{result.description}}</p>
</div>
<a href="/todo/{{result._id}}/edit">
    <button type="submit" class="btn btn-primary">Edit</button>
</a>
<a href="/todo/{{result._id}}/delete">
    <button type="submit" class="btn btn-primary">Delete</button>
</a>